/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  appearance: button;
  border: none;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration  {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
input[type="text"][disabled] {
  -webkit-text-fill-color: black;
  opacity: 1;
}
input,textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  max-width: 100%;
  border-radius: 0;
  margin: 0;
  background-color: #fff;
}
/* iOSでのデフォルトスタイルをリセット */

body {
  background-color: #e03d4d;
  font-weight: bold;
}

button {
  margin-top: 2em;
  padding: 0.5em 1em;
  line-height: 1.5em;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
  background-color: #fff;
}

button:focus {
  outline: none;
}

li {
  list-style-type: none;
}

ol {
  margin-right: 1em;
}

ol li {
  list-style-type: inherit;
}

input[type="text"] {
  border: solid 2px black;
  padding: 0.5em 1em;
  line-height: 1.5em;
  font-weight: bold;
  width: 5em;
}

p {
  font-size: 1.2em;
  margin: 0;
}

span {
  font-size: 0.8em;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0.6em 1em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  width: 80%;
  margin: 2em auto 1em;
  padding: 1em;
  background-color: #000;
  color: #e03d4d;
}

.App-header i {
  color: #fff;
  margin: 0 0.3em;
  font-size: 1em;
}

.App-link {
  color: #61dafb;
}

/* 結果発表 */
.result {
  text-align: left;
  display: inline-block;
}
.result p{
  font-size: 1.6em;
}
.result button{
  width: 100%;
}

/* 役職 */
.positions {
  margin: 20px;
}
.positions input {
  display: none;
}
.positions label {
  display: inline-block;
  background-color: #fff;
  padding: 1em 2em;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
}
.positions .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
.positions input:checked ~ .hidden_show {
  padding: 10px 0;
  margin-top: 20px;
  height: auto;
  opacity: 1;
}

/* 説明ガキ */
.description {
  text-align: left;
  display: inline-block;
}
.description li {
  margin-bottom: 20px;
}

/* タイマー */
.timer p {
  font-size: 2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px){
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  
  p {
    font-size: 1em;
  }
  
  span {
    font-size: 0.8em;
  }
  
  .result p{
    font-size: 1.3em;
  }
  .timer p {
    font-size: 1.5em;
  }
}