button {
  margin-top: 20px;
  padding: 5px 10px;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
}

button:focus {
  outline: none;
}

li {
  list-style-type: none;
}

input[type="text"]{
  border: solid 2px black;
  padding: 5px 10px;
  font-weight: bold;
  width: 20px;
}

p {
  font-size: 1.2em;
}

span {
  font-size: 0.8em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
}

.App-link {
  color: #61dafb;
}

.result {
  text-align: left;
  display: inline-block;
}

/* 役職 */
.positions {
  margin: 20px;
}
.positions input {
    display: none;
}
.positions label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}
.positions .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
.positions input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
