body {
  background-color: #e03d4d;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 5px 10px;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
}

button:focus {
  outline: none;
}

li {
  list-style-type: none;
}

ol {
  margin-right: 1em;
}

ol li {
  list-style-type: inherit;
}

input[type="text"]{
  border: solid 2px black;
  padding: 5px 10px;
  font-weight: bold;
  width: 20px;
}

p {
  font-size: 1.2em;
  margin: 0;
}

span {
  font-size: 0.8em;
}

h1 {
  margin: 0.5em 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  width: 80%;
  margin: 1em auto;
  padding: 5px;
  background-color: #000;
  color: #e03d4d;
}

.App-link {
  color: #61dafb;
}

/* 結果発表 */
.result {
  text-align: left;
  display: inline-block;
}
.result p{
  font-size: 1.6em;
}
.result button{
  width: 100%;
}

/* 役職 */
.positions {
  margin: 20px;
}
.positions input {
  display: none;
}
.positions label {
  background-color: #fff;
  padding: 15px;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
}
.positions .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
.positions input:checked ~ .hidden_show {
  padding: 10px 0;
  margin-top: 20px;
  height: auto;
  opacity: 1;
}

/* 説明ガキ */
.description {
  text-align: left;
  display: inline-block;
}
.description li {
  margin-bottom: 20px;
}

/* タイマー */
.timer p {
  font-size: 2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px){
  h1 {
    font-size: 1.5em;
  }
  
  
  p {
    font-size: 1em;
  }
  
  span {
    font-size: 0.8em;
  }
  
  .result p{
    font-size: 1.3em;
  }
  .timer p {
    font-size: 1.5em;
  }
}